# Core essentials
fastapi
uvicorn
gunicorn
requests>=2.27.1
fire>=0.4.0
python-dotenv

# Image processing
opencv-python>=4.5.5.64
Pillow>=5.2.0
numpy>=1.14.0
pandas>=0.23.4

# Progress + file handling
tqdm>=4.30.0
gdown>=3.10.1

# Emotion detection and face analysis
deepface==0.0.79
tensorflow==2.17.1
keras==3.2.0
tf-keras
mtcnn>=0.1.0
retina-face>=0.0.1